
  @import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Press+Start+2P&family=Roboto+Slab:wght@300&family=Roboto:ital,wght@1,300&display=swap');


td {
    vertical-align: middle;
}

.navIcon {
    width: 100px;
    height: 100px;
    background-color: black;
    padding:.5rem  
}

.navText {
    font-size: x-large;
}

.jumboBackground {
    background-image: url("images/pexels-lukas-574069.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-height: 500px;
    min-height: 300px;
    width: 100%;
    position: relative;
    z-index: -1;
}

.logoBackground {
    background-color: black;
    width: 200px;
}

.heroLogo {
    background-color: black;
    border: 2px solid red;
    max-width: 300px;
}

.heroText {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Mukta', sans-serif;
    font-size: 2rem;
}

.cardImageFormat {
    max-height: 200px;
}




.tableStyleCustomizations {
    border: 2px solid gray;
    font-family: 'Roboto Slab', serif;
}

.pressStartFont {
    font-family: 'Press Start 2P', cursive;
}

.is-setup-list-title{
    font-size: 1.5rem;
    font-weight: bold;
}

.fullyCentered {
    
    align-items: center;
    text-align: center;
}

.setupImageHero{
    max-height: 300px;
    min-height: 100px;
    width: 100%;
    position: relative;
    z-index: -1;
    padding-top: 30px;
}

.removeLinkDecor{
    text-decoration: none;
    color: black;
}

.vsLogo{
    max-width: 250px;
    max-height: 250px;

}

.whereToStartContainer{
    margin: auto;
    max-width: 1000px;
}

.macSetupAppleLogo{
    max-width: 35px;
    max-height: 35px;
}

.robotoFont{
    font-family: 'Roboto', sans-serif;
}

.homebrewLogo{
    max-width: 100px;
    max-height: 100px;
}

.macSetupHeader{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 5rem;
}

.instructionsFont {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
}

.gitLogo{
    max-width: 300px;
    max-height: 300px;
}

.centeredTogether{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.maxWidth600{
    max-width: 400px;
}